{% load static %}
    <!--   Core JS Files   -->
  <script src="{% static 'django_app/js/core/popper.min.js' %}"></script>
  <script src="{% static 'django_app/js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'django_app/js/plugins/perfect-scrollbar.min.js' %}"></script>
  <script src="{% static 'django_app/js/plugins/smooth-scrollbar.min.js' %}"></script>
    <script src="{% static 'django_app/js/plugins/countup.min.js' %}"></script>
  <script src="{% static 'django_app//js/plugins/fullcalendar.min.js' %}"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>


{#<script src="{% static 'django_app//js/plugins/choices.min.js' %}"></script>#}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <!-- Kanban scripts -->
  <script src="{% static 'django_app/js/plugins/dragula/dragula.min.js' %}"></script>
  <script src="{% static 'django_app/js/plugins/jkanban/jkanban.js' %}"></script>




