{% extends 'base.html' %}
{% load static %}

{% block title %} Calendar {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <style>
    .nav-link {
        color: lightgrey;
    }
    .nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: #efff42;
    --bs-nav-link-disabled-color: #6c757d;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
    </style>

{% endblock stylesheets %}

{% block content %}
<center><h1> Event Calendar</h1></center>
    <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="display: block; /* Use block display */
    margin-right: 25%;
    margin-top: 10%;
    margin-left: auto;">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #344767">
        <h5 class="modal-title" id="eventModalLabel">Event Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="eventModalBody" style="color: black; background-color: lightgrey">
        <!-- Event details will go here -->
      </div>
    </div>
  </div>
</div>
    <div class="container">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="calendar-tab" data-bs-toggle="tab" data-bs-target="#calendar" type="button" role="tab" aria-controls="calendar" aria-selected="true">Calendar</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="table-tab" data-bs-toggle="tab" data-bs-target="#table" type="button" role="tab" aria-controls="table" aria-selected="false">Table</button>
  </li>

<li class="nav-item ms-auto" role="presentation"> <!-- ms-auto will push it to the right -->
        <a href="{% url 'new_event' %}"><button class="nav-link" id="create-event-tab" type="button">Create Event</button></a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
      <div class="card card-calendar" style="height: 75vh">
                    <div class="card-body p-3">
                        <div class="calendar" data-bs-toggle="calendar" id="calendar" ></div>
                    </div>
                </div>
    </div>
  </div>
  <div class="tab-pane fade" id="table" role="tabpanel" aria-labelledby="table-tab">
      <br>
      <div class="card">
  <div class="table-responsive">
    <table class="table align-items-center mb-0">
      <thead>
        <tr>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Author</th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Event</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date/Time</th>
          <th class="text-secondary opacity-7"></th>
        </tr>
      </thead>
      <tbody>
      {% for event in events %}
        <tr>
          <td>
            <div class="d-flex px-2 py-1">
              <div>
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpurepng.com%2Fpublic%2Fuploads%2Flarge%2Fpurepng.com-user-iconsymbolsiconsapple-iosiosios-8-iconsios-8-721522596134a4bio.png&f=1&nofb=1&ipt=4cec38da50a382562b765e8aad7e506d7907887188db6e816bbe4c5afe3c8140&ipo=images" class="avatar avatar-sm me-3">
              </div>
              <div class="d-flex flex-column justify-content-center">
                <h6 class="mb-0 text-xs">{{ event.author }}</h6>
                <p class="text-xs text-secondary mb-0">{{ event.author.email }}</p>
              </div>
            </div>
          </td>
          <td>
            <p class="text-xs font-weight-bold mb-0">{{ event.title }}</p>
          </td>
          <td class="align-middle text-center text-sm">
              {% if event.event_start_date.date < today %}
                    <span class="badge badge-sm bg-gradient-light" style="color: black">Passed</span>
                {% elif event.event_start_date.date == today %}
                    <span class="badge badge-sm {{ event.color }}">Today's Event</span>
                {% else %}
                    <span class="badge badge-sm {{ event.color }}">Up & Coming</span>
                {% endif %}
          </td>
          <td class="align-middle text-center">
            <span class="text-secondary text-xs font-weight-bold">{{ event.event_start_date }}</span>
          </td>
          <td class="align-middle">
        <div id="eventBody{{ event.id }}" style="display: none;">
            {{ event.body|safe }}
        </div>
        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" onclick="showEventModal('{{ event.id }}')" data-title="{{ event.title|escapejs }}" data-toggle="tooltip" data-original-title="Edit user">
          View
        </a>
    </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
  </div>
{#  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>#}
</div>
{% endblock content %}

{% block javascripts %}
<script>
        var calendar = new FullCalendar.Calendar(document.getElementById("calendar"), {
            contentHeight: '65vh',
            initialView: "dayGridMonth",
            headerToolbar: {
                start: 'title', // will normally be on the left. if RTL, will be on the right
                center: '',
                end: 'today prev,next' // will normally be on the right. if RTL, will be on the left
            },
            selectable: true,
            editable: true,
            initialDate: '2023-12-01',

            events: [
                {% for event in events %}
                {
                title: '{{ event.title |escapejs }}',
                start: '{{ event.event_start_date|date:"Y-m-d" }}',
                end: '{{ event.event_end_date|date:"Y-m-d" }}',
                className: '{{ event.color }}',
                body: '{{ event.body|escapejs }}'
            },
                {% endfor %}

            ],
            views: {
                month: {
                    titleFormat: {
                        month: "long",
                        year: "numeric"
                    }
                },
                agendaWeek: {
                    titleFormat: {
                        month: "long",
                        year: "numeric",
                        day: "numeric"
                    }
                },
                agendaDay: {
                    titleFormat: {
                        month: "short",
                        year: "numeric",
                        day: "numeric"
                    }
                }
            },

            eventClick: function(info) {
            // Set the title and body of the event in the modal
            document.getElementById('eventModalLabel').textContent = info.event.title;
            document.getElementById('eventModalBody').innerHTML = info.event.extendedProps.body;

            // Show the modal
            var eventModal = new bootstrap.Modal(document.getElementById('eventModal'));
            eventModal.show();

            // Prevent browser default action
            info.jsEvent.preventDefault();
        },
        });

        calendar.render();

    </script>
    <script>
        function showEventModal(eventId) {
            var eventTitle = document.querySelector(`[onclick="showEventModal('${eventId}')"]`).getAttribute('data-title');
            var eventBody = document.getElementById(`eventBody${eventId}`).innerHTML;

            // Update the modal title and body content
            document.getElementById('eventModalLabel').innerText = eventTitle;
            document.getElementById('eventModalBody').innerHTML = eventBody;

            // Show the modal
            var eventModal = new bootstrap.Modal(document.getElementById('eventModal'));
            eventModal.show();
        }
    </script>
{% endblock javascripts %}